@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #222;
}

a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: #222;
  letter-spacing: 0.5px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
}

.title {
  font-size: 58px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #222;
}
@media (max-width: 425px) {
  .title {
    font-size: 45px;
    line-height: 53px;
  }
}

.btn {
  white-space: nowrap;
  padding: 15px 44px;
  background: #FB4B4D;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  background: #ca3d3f;
}
.btn:active {
  background: #fc7e80;
  color: #222;
}

.pepper-text {
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 78px;
  border-bottom: 1px solid #222;
  overflow: hidden;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}
.pepper-text img {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .pepper-text {
    font-size: 13px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.header__inner {
  border: 0.1px solid #222;
  padding: 21px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 425px) {
  .header__inner {
    padding: 1px 16px;
  }
}
.header__btn {
  margin: 0 5px;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  max-width: 200px;
}
.header__logo img {
  width: 100%;
  height: auto;
}

.menu__link {
  color: #222;
  background: transparent;
  margin: 0 5px;
  text-align: center;
}
.menu__link:hover {
  background: #FB4B4D;
  color: #fff;
}
.menu__link:active {
  background: #fc7e80;
  color: #222;
}

.burger {
  width: 30px;
  display: none;
}
.burger__item {
  width: 100%;
  height: 3px;
  background: #222;
  margin: 5px 0;
}

@media (max-width: 1154px) {
  .header {
    position: relative;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__box {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__btn {
    display: none;
  }

  .burger {
    display: block;
  }

  .menu {
    display: none;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 698px;
          flex: 1 1 698px;
  border-top: 0.1px solid #000;
  border-right: 0.1px solid #000;
  border-bottom: 0.1px solid #000;
  border-left: 0.1px solid #000;
}
@media (max-width: 1250px) {
  .intro__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}
.intro__img {
  max-width: 698px;
  height: auto;
  padding: 20px;
  border-top: 0.1px solid #222;
  border-bottom: 0.1px solid #222;
}
.intro__img img {
  width: 100%;
}
@media (max-width: 1250px) {
  .intro__img {
    border: none;
  }
}
.intro__img-text {
  padding: 0;
  border-top: none;
}
.intro__text {
  max-width: 698px;
  border-top: 0.1px solid #222;
}
@media (max-width: 1250px) {
  .intro__text {
    max-width: 100%;
  }
}
.intro__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-bottom: 1.1px solid #222;
  padding: 24px 60px 15px;
}
@media (max-width: 425px) {
  .intro__title {
    padding: 24px 20px 15px;
  }
}

.lava__inner {
  border-right: 0.1px solid #222;
  border-left: 0.1px solid #222;
  border-bottom: 0.1px solid #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 30px;
}
@media (max-width: 1250px) {
  .lava__inner {
    border-bottom: none;
  }
}
@media (max-width: 425px) {
  .lava__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.lava__img {
  max-width: 225px;
  height: auto;
}
@media (max-width: 425px) {
  .lava__img {
    margin: 30px 0;
  }
}
.lava__img img {
  width: 100%;
}
.lava__img:last-child {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.lava__title {
  margin: 0 5px;
}

.card__inner {
  border: 0.1px solid #222;
}
@media (max-width: 1250px) {
  .card__inner {
    border-bottom: none;
  }
}
.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -11.5px;
  padding: 20px;
  position: relative;
}
@media (max-width: 425px) {
  .card__items {
    padding: 20px 0;
  }
}
.card__item {
  margin: 11.5px;
  padding: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 435px;
          flex: 0 1 435px;
  height: 660px;
  background: url(../../img/card/bg.png) no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 425px) {
  .card__item {
    margin: 11.5px 0;
  }
}
.card__subtitle {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}
.card__title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 13px;
}
.card__img {
  max-width: 390px;
  height: auto;
  overflow: hidden;
}
.card__img img {
  width: 100%;
}
.card__decor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 20px;
}
@media (max-width: 425px) {
  .card__decor {
    display: none;
  }
}
.card__decor-el {
  margin: 0 32px;
}

.pepper__inner {
  border: 0.1px solid #222;
}
@media (max-width: 1250px) {
  .pepper__inner {
    border-bottom: none;
  }
}

.img-bottle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.1px solid #222;
  border-right: 0.1px solid #222;
  border-bottom: 0.1px solid #222;
  padding: 22px;
}
@media (max-width: 1250px) {
  .img-bottle__inner {
    border-bottom: none;
  }
}
.img-bottle__img {
  width: 100%;
}
.img-bottle__img img {
  max-width: 100%;
}

.story__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.story__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 696px;
          flex: 1 1 696px;
  border: 0.1px solid #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1250px) {
  .story__box {
    border-bottom: none;
  }
}
.story__title {
  padding: 50px;
}
.story__img {
  max-width: 697px;
  height: 100%;
  overflow: hidden;
}
.story__img img {
  width: 100%;
  height: 100%;
}
.story__text-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 135px 154px;
  width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .story__text-box {
    background: #FFFCF7;
  }
}
@media (max-width: 425px) {
  .story__text-box {
    padding: 30px;
  }
}
.story__decor {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .story__decor {
    display: none;
  }
}
.story__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
  max-width: 380px;
  text-align: center;
}

.footer__top {
  background: url(../../img/footer/footer-bg.png) no-repeat center/cover;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.1px solid #222;
  border-right: 0.1px solid #222;
  border-bottom: 0.1px solid #222;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .footer__top {
    border-bottom: none;
  }
}
.footer__top img {
  max-width: 100%;
}
.footer__bottom {
  background: #CDFD3B;
  padding: 20px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1px solid #222;
}
@media (max-width: 768px) {
  .footer__bottom {
    padding: 15px 20px;
  }
}
.footer__text {
  font-size: 15px;
  line-height: 24px;
  margin: 10px 0;
}